@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/sofia-pro/Sofia Pro Light Az.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/sofia-pro/Sofia Pro Regular Az.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/sofia-pro/Sofia Pro Medium Az.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/sofia-pro/Sofia Pro Semi Bold Az.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/sofia-pro/Sofia Pro Bold Az.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/sofia-pro/Sofia Pro Black Az.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@theme {
    --font-sans: 'Sofia Pro', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
:root {
    --bg-color: #FFFFFF;
    --text-color: #333333;
    --primary-color: #4682B4;

}
body {
    @apply bg-[var(--bg-color)] font-sans;
}
.heading {
    @apply text-[30px] sm:text-[40px] font-bold text-[var(--text-color)] mb-4 leading-[1.1];
}
.spotmee-main {
    @apply overflow-hidden;
}
.md-title {
    @apply text-[20px] sm:text-[28px] font-bold text-[var(--text-color)]  ;
}
.md-para {
    @apply text-[18px] font-normal text-[var(--text-color)] ;

}
.md-para-slider {
    @apply text-[18px] font-normal text-[#999999] ;

}

.step {
    @apply inline-block bg-[#F3F4F6] text-[var(--text-color)] rounded-full px-4 py-1 mb-2 text-sm font-semibold;
}

.spotmee-card-img {
    @apply w-full h-[400px] object-cover rounded-[20px] shadow-sm;
}

.rating {
    @apply text-sm font-semibold text-[var(--text-color)];
}

.price {
    @apply font-bold text-[var(--text-color)] text-[20px];
}

.gym-card {
    @apply px-3 py-2;
}

.gym-card-img {
    @apply w-full h-full object-cover rounded-[24px];  
}
.spotmee-card {
    @apply flex flex-col items-center
}
.spotmee-card-icon {
    @apply bg-[#EBF1F6] rounded-full w-24 h-24 flex items-center justify-center mb-6;
}

.md-para-spotmee {
    @apply text-[var(--text-color)] text-[18px] leading-[1.2] max-w-[270px] ;
}
.spotmee-card-span {
    @apply inline-block bg-[#EFF6FB] border border-gray-100 shadow-sm text-gray-700 text-xs font-semibold px-4 py-1.5 rounded-full;
}
.list-span {
    @apply text-[var(--text-color)] text-[20px] font-semibold;
}
.list-div {
    @apply flex-shrink-0 w-5 h-5 rounded-full bg-[var(--primary-color)] flex items-center justify-center text-white text-xs;
}
.community-img {
    @apply w-full h-full object-cover rounded-[20px];
}

.cta-btn {
    @apply inline-block bg-[var(--primary-color)] text-white font-normal text-[20px] 
           px-8 py-3 rounded-full shadow-lg 
           transition-all duration-300
           hover:bg-[#3a6d96] hover:shadow-blue-500/30;
}
.sign-up-btn {
    @apply inline-block bg-[var(--primary-color)] text-white font-normal text-[20px] 
           px-8 py-3 rounded-full shadow-lg 
           transition-all duration-300
           hover:bg-[#3a6d96] hover:shadow-blue-500/30;
}

.footer-link {
    @apply text-[var(--text-color)] text-[18px] font-normal
           hover:text-blue-600 transition-colors duration-300;
}

.footer-h3 {
    @apply text-[24px] font-bold text-[var(--text-color)] mb-6;
}
.footer-social-icon {
    @apply w-10 h-10 flex items-center justify-center rounded-full 
             bg-[var(--primary-color)] text-white
             hover:bg-blue-600 transition-all;
}
.hero-banner {
    @apply relative w-full pt-[100px] pb-[371px] bg-cover bg-center overflow-hidden flex items-center rounded-[15px] ;
}
.form-wrapper {
    @apply w-full  bg-white/80 backdrop-blur-md rounded-2xl mt-[100px] sm:p-8 shadow-2xl;
}
.social-icon {
    @apply w-10 h-10 flex items-center justify-center rounded-full
    text-[#4882b0]
    hover:bg-[#4882b0] hover:text-white transition-all
    
}


/* Auth Pages Styling */
.auth-container-new {
    @apply relative z-10 w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-center;
}
.auth-title {
    @apply text-[30px] md:text-[40px] font-bold text-[var(--text-color)] mb-2;
}
.auth-subtitle {
    @apply text-[18px] md:text-[20px] text-gray-600 font-normal mb-2;
}   
.auth-label {
    @apply block text-[18px] md:text-[20px] font-normal mb-2 text-[var(--text-color)]
}
.auth-input {
    @apply w-full bg-[#F3F4F6] rounded-lg px-5 py-4 outline-none focus:ring-2 focus:ring-[#4682B4] text-[18px] text-[var(--text-color)];
}
.auth-link {
    @apply text-[#4682B4] font-bold hover:underline;
}

.inner-heading {
    @apply text-white text-[30px] md:text-[40px] font-bold mb-8 leading-tight;
}

/* how it works */
.how-it-works-banner {
    @apply relative w-full py-20 bg-cover bg-center rounded-[15px] flex items-center justify-center overflow-hidden;
}
.seeker-icon {
    @apply w-24 h-24 bg-[#EBF1F6] rounded-full flex items-center justify-center mb-6 group-hover:bg-(--primary-color) transition-all duration-300;
}
.seeker-card {
    @apply flex flex-col items-center text-center ;
}   
.feature-card {
    @apply bg-white p-8 rounded-[24px] border border-gray-100 shadow-sm hover:shadow-md transition-shadow;
}   

.feature-icon {
    @apply w-16 h-16 bg-[#EBF1F6] rounded-2xl flex items-center justify-center mb-6;
}
.feature-title {
    @apply text-[22px] font-bold mb-3;
}
.host-title {
    @apply font-bold text-[20px] text-(--text-color);
}
.cta-section {
    @apply relative w-full h-[450px] bg-cover bg-center rounded-[30px] overflow-hidden flex items-center justify-center;
}

/* find a gym */
.find-a-gym {
    @apply bg-[#F8FAFC] rounded-[24px] p-8 md:p-12 relative overflow-hidden;
}
.find-a-gym-search {
    @apply bg-white p-3 rounded-[20px] shadow-2xl flex flex-col md:flex-row gap-3;
}

.search-input {
    @apply flex-1 flex items-center px-4 bg-gray-50 rounded-[15px];
}
.search-input-icon {
    @apply text-(--primary-color) mr-3 text-lg;
}
.search-input-input {
    @apply w-full py-4 bg-transparent outline-none text-gray-700 font-medium;
}
.gym-type-label {
    @apply flex items-center gap-3 cursor-pointer  p-2  rounded-lg transition-colors;
    &:hover {
        @apply bg-gray-50;
    }
}
.type-checkbox {
    @apply w-5 h-5 rounded border-gray-300 text-(--primary-color) focus:ring-(--primary-color);
}
.type-checkbox-label {
    @apply text-gray-600 font-medium group-hover:text-(--text-color);
}

.sidebar-title {
    @apply font-bold mb-4 text-(--text-color) flex items-center gap-2;
}
.amenities-label {
    @apply flex items-center gap-2 cursor-pointer  text-sm;
}
.amenities-checkbox {
    @apply w-4 h-4 rounded border-gray-300 text-(--primary-color) focus:ring-(--primary-color);
}
.apply-filters-btn {
    @apply w-full py-4 bg-[#F3F4F6] text-(--text-color) font-bold rounded-xl hover:bg-gray-200 transition-colors flex items-center justify-center gap-2;
}
.sort-bar {
    @apply bg-white rounded-[20px] p-6 mb-8 border border-gray-100 shadow-sm flex flex-col sm:flex-row items-center justify-between gap-4;
}

.benefit-card {
    @apply  p-8 rounded-[30px] transition-all duration-500 border border-transparent hover:border-gray-50;
    &:hover {
        @apply bg-white shadow-2xl shadow-blue-500/5;
    }
}

.benefit-icon {
    @apply w-20 h-20 bg-[#EBF1F6] rounded-2xl flex items-center justify-center mb-8 group-hover:bg-(--primary-color) transition-colors duration-500;
}
.step-number {
    @apply shrink-0 w-12 h-12 bg-(--primary-color) text-white rounded-full flex items-center justify-center font-bold text-xl;
}

.step-title {
    @apply text-xl font-bold mb-2;;
}
.value-card {
    @apply bg-white p-10 rounded-[30px] shadow-sm hover:shadow-xl transition-all duration-300;
}
.value-icon {
    @apply w-16 h-16 bg-(--primary-color)/10 rounded-2xl flex items-center justify-center mb-8 group-hover:bg-(--primary-color) transition-colors;
}   
.vission-title {
    @apply text-2xl font-bold mb-4 text-(--text-color);
}

.contact-icon {
    @apply w-16 h-16 bg-(--primary-color)/10 rounded-[20px] flex items-center justify-center group-hover:bg-(--primary-color) transition-colors duration-300;
}   

.email-title {
    @apply text-[20px] font-bold mb-2 text-(--text-color);
}   

.contact-social-icon {
    @apply w-12 h-12 rounded-full border border-gray-200 flex items-center justify-center text-gray-400 hover:bg-(--primary-color) hover:border-(--primary-color) hover:text-white transition-all;
}       

.contact-form-label {
    @apply text-[18px] font-bold text-[var(--text-color)] ml-1;
}   

.contact-input {
    @apply w-full px-6 py-4 rounded-2xl bg-gray-50 border border-transparent focus:bg-white focus:border-(--primary-color) outline-none transition-all;
}

.faq-item {
    @apply  bg-white rounded-[20px] p-6 shadow-sm cursor-pointer hover:shadow-md transition-all;
}
.faq-header {
    @apply flex justify-between items-center;
}

.faq-question {
    @apply font-bold text-lg text-(--text-color) group-hover:text-(--primary-color) transition-colors;
}
.faq-icon {
    @apply text-gray-400 transition-transform duration-300;
}


.header-dropdown-user {
    @apply bg-[var(--primary-color)] w-[50px] h-[50px] flex items-center justify-center rounded-full text-white font-bold;
}
.header-dropdown-list-wrapper {
    @apply  bg-white shadow-2xl shadow-emerald-100 ring-1 ring-[var(--primary-color)] min-w-[200px] rounded-2xl min-h-[50px]; 
}
.header-dropdown-item {
    @apply py-[10px] px-[10px];
}
.header-dropdown-link {
    @apply text-[18px] font-medium;
}



@media (max-width: 768px) {
    .form-wrapper {
        @apply py-[30px] px-[20px] mt-[0px];
    }
}

@import './site-public.css';
